<script src="vue.js"></script>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="container">
    {{#each letters}}
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">{{letter}}</div>
    </div>
    {{/each}}
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">As</div>
        <div class="details">help<br/>me</div>
    </div>
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">As</div>
    </div>
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">As</div>
    </div>
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">As</div>
    </div>
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">As</div>
    </div>
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">As</div>
    </div>
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">As</div>
    </div>
    <div class="element">
        <div class="number">13</div>
        <div class="symbol">As</div>
    </div>
</div>