<!DOCTYPE html>
<html>
    <head>
        <title>Bobby</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/tp/xterm.css' />
        <script src="/tp/vue.js"></script>
        <script src="/tp/xterm.js"></script>
        <script src="/tp/xterm-addons/attach/attach.js"></script>
        <script src="/tp/xterm-addons/fit/fit.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="app">
                <div class="menu">
                </div>
                <div class="loading" v-if="loading">
                    Loading... {{ message }}
                </div>
                <div v-if="error" class="error">
                    {{ error }}
                </div>
                <div v-if="processes" class="content">
                    <div v-for="process in processes" v-on:click="selected = process" class="element" v-bind:class="{ selected: selected == process }">
                        <div class="processState" :class="process.state">
                            <div class="number">{{ process.id }}</div>
                            <div class="symbol">{{ process.name }}</div>
                            <div class="details">{{ process.details }}</div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="terminal-container"></div>
        <div style="clear: both;"></div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    loading: false,
                    selected: null
                },
                created: function() {
                    this.fetchData();
                },
                watch: {
                    '$route': 'fetchData'
                },
                methods: {
                    selectProcess: function(event) {
                    },
                    fetchData: function() {
                        this.error = this.processes = null;
                        this.loading = true;
                        fetch('/api/processes')
                        .then((response) => {
                            if (!response.ok) {
                                throw "Request error, please retry later..."
                            }
                            return response.json();
                        })
                        .then((json) => {
                            this.loading = false;
                            this.processes = json;
                        })
                        .catch((reason) => {
                            this.loading = false;
                            this.error = reason.message || reason;
                        });
                    }
                }
            });

            createTerminal();

            function createTerminal() {
                let pid;
                let term = new Terminal();
                term.on('resize', (size) => {
                    if (!pid) {
                        return;
                    }
                    fetch(`/terminals/${pid}`, { method: 'PUT', body: JSON.stringify({ pid: pid, cols: size.cols, rows: size.rows }) });
                });
                let protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://';
                let socketURL = protocol + location.hostname + ((location.port) ? (':' + location.port) : '') + '/terminals/';

                term.open(document.getElementById('terminal-container'));
                //term.fit();

                let initialGeometry = term.proposeGeometry(),
                    cols = initialGeometry.cols,
                    rows = initialGeometry.rows;
                const makeRequest = async () => {
                    let response = await fetch('/terminals', { method: 'POST', headers: new Headers({'Content-Type': 'application/json'}), body: JSON.stringify({ cols: cols, rows: rows }) });
                    let charWidth = Math.ceil(term.element.offsetWidth / cols);
                    let charHeight = Math.ceil(term.element.offsetHeight / rows);

                    let pid = (await response.json()).pid;
                    window.pid = pid;
                    socketURL += pid;
                    socket = new WebSocket(socketURL);
                    socket.onopen = () => runRealTerminal(term, socket);
                    // socket.onclose = runFakeTerminal;
                    // socket.onerror = runFakeTerminal;
                };
                makeRequest();
            }

            function runRealTerminal(term, socket) {
                term.attach(socket);
            }
        </script>
    </body>
</html>